.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; 
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('npl.png'); */
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.home-logo {
  height: 250px;
  width: 250px;
}