<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ctbr Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='ctbr.css') }}" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="National Physical Laboratory Logo" class="logo" />
                <div>
                    <h1 class="page-title">CSIR - National Physical Laboratory</h1>
                    <h3 class="page-subtitle">
                        सी एस आई आर - राष्ट्रीय भौतिक प्रयोगशाला
                    </h3>
                </div>
                <img class="company-name" src="{{ url_for('static', filename='images/logo2.png') }}" alt="CSIR - NPL" />
            </header>

            <nav>
                <a href="/">Home</a>
            </nav>

            <h1>CTBR Step 2</h1>

            <div class="content">
                <main class="container my-5">
                    <form id="multiStepForm">
                        <div class="step active">
                            <h3>Services</h3>
                            <div class="container mt-5">
                                <!-- Category Dropdown -->
                                <div class="form-group">
                                    <label for="categorySelect">Category</label>
                                    <select class="form-control" id="categorySelect" name="categorySelect" onchange="onSelectChange('categorySelect')">
                                        <option value="">Select Category</option>
                                        {% for classification in classifications %}
                                        <option value="{{ classification.service_code }}">{{ classification.service_name }}</option>
                                        {% endfor %}
                                    </select>                                    
                                </div>
                                <!-- Parameters Dropdown -->
                                <div class="form-group">
                                    <label for="parametersSelect">Parameters</label>
                                    <select class="form-control" id="parametersSelect" name="parametersSelect" onchange="onSelectChange('parametersSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Item Type / Group Dropdown -->
                                <div class="form-group">
                                    <label for="itemTypeSelect">Item Type / Group</label>
                                    <select class="form-control" id="itemTypeSelect" name="itemTypeSelect" onchange="onSelectChange('itemTypeSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Item Name Dropdown -->
                                <div class="form-group">
                                    <label for="itemNameSelect">Item Name</label>
                                    <select class="form-control" id="itemNameSelect" name="itemNameSelect" onchange="onSelectChange('itemNameSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Alias Name Dropdown -->
                                <div class="form-group">
                                    <label for="aliasNameSelect">Alias Name</label>
                                    <select class="form-control" id="aliasNameSelect" name="aliasNameSelect" onchange="onSelectChange('aliasNameSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Range Dropdown -->
                                <div class="form-group">
                                    <label for="rangeSelect">Range</label>
                                    <select class="form-control" id="rangeSelect" name="rangeSelect" onchange="onSelectChange('rangeSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Calibration Parameters Dropdown -->
                                <div class="form-group">
                                    <label for="calibrationParametersSelect">Calibration Parameters</label>
                                    <select class="form-control" id="calibrationParametersSelect" name="calibrationParametersSelect" onchange="onSelectChange('calibrationParametersSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- No. of Points for Calibration / Procedure No. Dropdown -->
                                <div class="form-group">
                                    <label for="pointsSelect">No. of Points for Calibration / Procedure No.</label>
                                    <select class="form-control" id="pointsSelect" name="pointsSelect" onchange="onSelectChange('pointsSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Limitation / Condition Dropdown -->
                                <div class="form-group">
                                    <label for="limitationSelect">Limitation / Condition</label>
                                    <select class="form-control" id="limitationSelect" name="limitationSelect" onchange="onSelectChange('limitationSelect')">
                                            <option value=""></option>
                                    </select>
                                </div>
                                <!-- Charges per Item Rs. Dropdown -->
                                <div class="form-group">
                                    <label for="chargesSelect">Charges per Item Rs.</label>
                                    <select class="form-control" id="chargesSelect" name="chargesSelect" onchange="onSelectChange('chargesSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Additional Charges Rs. Dropdown -->
                                <div class="form-group">
                                    <label for="additionalChargesSelect">Additional Charges Rs.</label>
                                    <select class="form-control" id="additionalChargesSelect" name="additionalChargesSelect" onchange="onSelectChange('additionalChargesSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Description for Additional Charges Dropdown -->
                                <div class="form-group">
                                    <label for="descriptionSelect">Description for Additional Charges</label>
                                    <select class="form-control" id="descriptionSelect" name="descriptionSelect" onchange="onSelectChange('descriptionSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!-- Remarks Dropdown -->
                                <div class="form-group">
                                    <label for="remarksSelect">Remarks, if any</label>
                                    <select class="form-control" id="remarksSelect" name="remarksSelect" onchange="onSelectChange('remarksSelect')">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary prev" onclick="window.location.href='/ctbr1'">Previous</button>
                                    <button type="button" class="btn btn-primary next" onclick="calculateRowTotal()">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>

            <footer class="footer bg-light text-dark text-center py-3">
                <a href="{{ url_for('logout')}}">Logout</a>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function onSelectChange(dropdownId) {
            console.log("Dropdown ID: ", dropdownId);
            var element = document.getElementById(dropdownId);
            if (!element) {
                console.error("Element not found: ", dropdownId);
                return;
            }
            var value = element.value;
            console.log("Selected value: ", value);
            fetchDataAndPopulate(dropdownId, value);
            }
        
            function fetchDataAndPopulate(field, value) {
                var body = {};
                body[field] = value;
                fetch('/ctbr2', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams(body).toString()
                })
                .then(response => response.json())
                .then(data => {
                    var services = data.services;
                    var charges = data.charges;
                    switch (field) {
                        case 'categorySelect':
                            populateDropdown('parametersSelect', services, 'parameter');
                            clearDropdown('itemTypeSelect');
                            clearDropdown('itemNameSelect');
                            clearDropdown('aliasNameSelect');
                            clearDropdown('rangeSelect');
                            clearDropdown('calibrationParametersSelect');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'parametersSelect':
                            populateDropdown('itemTypeSelect', services, 'item_type_group');
                            clearDropdown('itemNameSelect');
                            clearDropdown('aliasNameSelect');
                            clearDropdown('rangeSelect');
                            clearDropdown('calibrationParametersSelect');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'itemTypeSelect':
                            populateDropdown('itemNameSelect', services, 'item_name');
                            clearDropdown('aliasNameSelect');
                            clearDropdown('rangeSelect');
                            clearDropdown('calibrationParametersSelect');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'itemNameSelect':
                            populateDropdown('aliasNameSelect', services, 'alias_name');
                            clearDropdown('rangeSelect');
                            clearDropdown('calibrationParametersSelect');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'aliasNameSelect':
                            populateDropdown('rangeSelect', services, 'range');
                            clearDropdown('calibrationParametersSelect');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'rangeSelect':
                            populateDropdown('calibrationParametersSelect', services, 'calibration_parameters');
                            clearDropdown('pointsSelect');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'calibrationParametersSelect':
                            populateDropdown('pointsSelect', services, 'no_of_points_for_calibration_procedure_no');
                            clearDropdown('limitationSelect');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'pointsSelect':
                            populateDropdown('limitationSelect', services, 'limitation_condition');
                            clearDropdown('chargesSelect');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'limitationSelect':
                            populateDropdown('chargesSelect', charges, 'charges_per_item_rs');
                            clearDropdown('additionalChargesSelect');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'chargesSelect':
                            populateDropdown('additionalChargesSelect', charges, 'additional_charges_rs');
                            clearDropdown('descriptionSelect');
                            clearDropdown('remarksSelect');
                            break;
                        case 'additionalChargesSelect':
                            populateDropdown('descriptionSelect', charges, 'description_for_additional_charges');
                            clearDropdown('remarksSelect');
                            break;
                        case 'descriptionSelect':
                            populateDropdown('remarksSelect', charges, 'remarks_if_any');
                            break;
                        default:
                            break;
                    }
                });
            }
        
            function populateDropdown(dropdownId, data, key) {
                var dropdown = document.getElementById(dropdownId);
                var labelText = getLabelText(dropdownId);
                dropdown.innerHTML = '<option value="">Select ' + labelText + '</option>';
                var uniqueItems = [...new Set(data.map(item => item[key]))];
                uniqueItems.forEach(value => {
                    var option = document.createElement('option');
                    option.value = value;
                    option.text = value;
                    dropdown.appendChild(option);
                });
            }
        
            function clearDropdown(dropdownId) {
                var dropdown = document.getElementById(dropdownId);
                var labelText = getLabelText(dropdownId);
                dropdown.innerHTML = '<option value="">Select ' + labelText + '</option>';
            }
        
            function getLabelText(dropdownId) {
                var label = document.querySelector('label[for="' + dropdownId + '"]');
                return label ? label.textContent : dropdownId;
            }
        </script>      
        <script>
            function calculateRowTotal() {
            var chargesPerItem = parseFloat(document.getElementById('chargesSelect').value) || 0;
            var additionalCharges = parseFloat(document.getElementById('additionalChargesSelect').value) || 0;
            var totalCharge = (chargesPerItem + additionalCharges);

            console.log('Total Charge:', totalCharge);

            fetch('/send_charges', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ totalCharge: totalCharge })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/ctbr3';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            }
        </script>           
    </body>
</html>